# Node modules
node_modules/

# Logs
logs/
*.log

# System
.DS_Store
Thumbs.db

# dotenv
.env

# lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build
dist/
build/
 
package-lock.json
package.json